{% extends 'base.html' %}

{% block head %}
    <script>
    function checkall() {

            if($(":checkbox:not(.checkall)").length==$(":checked:not(.checkall)").length){
                $(".checkall").prop('checked',true);
            }else{
                $(".checkall").prop('checked',false);
            }
        }

    function total() {
        var total_all = 0;
        var count_sum = 0;
        var countall_sum = 0;
        $(".cart_list_td").each(function () {
            var countall = $(this).children(".col06").find('.num_show').val();
            countall_sum += parseInt(countall);
            if ($(this).find(".checkbox").prop('checked')) {
                var price = $(this).children(".col05").text();
                var count = $(this).children(".col06").find('.num_show').val();
                count_sum += parseInt(count);
                total_one = (price * count).toFixed(2);
                $(this).children(".col07").text(total_one + "元");
                total_all += parseFloat(total_one);
            }
        });
        $(".settlements").children(".col03").find("em").text(total_all.toFixed(2));
        $(".settlements").children(".col03").find("b").text(count_sum);
        $(".total_count").children("em").text(countall_sum);
    }

    function edit(gid, count) {
                count = count||-1;
                $.get("/cart/add/",{'gid':gid,'edit':count},function (data) {
                if(data.response == '0'){
                    alert('购买失败');
                }
                $(this).next().val(data.count);
            });
                total();
            }

    $(function () {
        $.ajaxSetup({async:false});
        total();

        $(".add").click(function () {
            var gstore = parseInt($(this).parents().siblings(".col03").find('em').eq(2).text());
            var count = $(this).next().val();
            count++;
            if (count > gstore){
                count = gstore;
            }
            edit($(this).parents().siblings(".col01").children().prop('name'),count);
            $(this).next().val(count);
            total();
        });

        $(".minus").click(function () {
            var count = $(this).prev().val();
            count--;
            if (count < 1){
                count = 1;
            }
            edit($(this).parents().siblings(".col01").children().prop('name'),count);

            $(this).prev().val(count);
            total();

        });

        $(".num_show").blur(function () {
            var count = $(this).val();
            if(isNaN(count)){
                $.get('/cart/add/',{'gid':$(this).parents().siblings(".col01").children().prop('name')},
                function (data) {
                    count = data.count;
                });
            }
            edit($(this).parents().siblings(".col01").children().prop('name'),count);
            $(this).val(count);
            total();
        });


        $(".del").click(function () {
            $(this).parent().parent().remove();
            edit($(this).parents().siblings(".col01").children().prop('name'));
            total();
        });

        $(".checkbox").change(function () {
            var checked = $(this).prop('checked');
            $(this).prop('checked',checked);
            total();
            checkall();

        });
        $(".checkall").change(function () {
            var checked = $(this).prop('checked');
            $('.checkbox').prop('checked',checked);
            total();
        });




    })


    </script>

{% endblock head %}


{% block body %}
	<div class="total_count">全部商品<em>0</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for c in cart %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" checked="" class="checkbox" name="{{ c.goods.id }}"></li>
		<li class="col02"><img src="/static/{{ c.goods.gpic }}"></li>
		<li class="col03">{{ c.goods.gtitle }}<br><em>{{ c.goods.gprice }}元/{{ c.goods.gunit }}</em>
            <em>库存:</em><em>{{ c.goods.gstore }}</em></li>
		<li class="col04">{{ c.goods.gunit }}</li>
		<li class="col05">{{ c.goods.gprice }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ c.count }}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07">25.80元</li>
		<li class="col08" ><a href="javascript:;" class="del">删除</a></li>
	</ul>
	{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" class="checkall"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>0</em><br>共计<b>0</b>件商品</li>
		<li class="col04"><a href="../place_order.html">去结算</a></li>
	</ul>
{% endblock body%}