{% extends 'base.html' %}

{% block head %}
    <script>
    $(function () {
{#        $.ajaxSetup({#}
{#            async:false#}
{#        });#}

        $('.sort_bar a').click(function () {
{#            $.get('/goods/list_tag/',{'tag':$(this).attr('name')}); {# ajax 传标签属性值 #}
            $(this).addClass('active').siblings().removeClass('active')
        });


    })
    </script>
{% endblock head %}

{% block body %}

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list1/" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list2/" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list3/" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list4/" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list5/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list6/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods/list/">全部分类</a>
		<span>></span>
        {% if t.ttitle %}
		<a href="#">{{ t.ttitle|default:'' }}</a>
        {% endif %}
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for i in new_goods %}
					<li>
						<a href="#"><img src="/static/{{ i.gpic }}"></a>
						<h4><a href="#">{{ i.gtitle }}</a></h4>
						<div class="prize">￥{{ i.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
{#				<a href="#" name="default" class="active">默认</a>#}
{#				<a href="/list{{ t.id }}" name="price">价格</a>#}
{#				<a href="/list{{ t.id }}" name="click">人气</a>#}
                <a href="/goods/list{{ t.id }}?tag=default" class="{{ cla.default }}">默认</a>
				<a href="/goods/list{{ t.id }}?tag=price" class="{{ cla.price }}">价格</a>
				<a href="/goods/list{{ t.id }}?tag=click" class="{{ cla.click }}">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for i in goods %}
				<li>
					<a href="/goods/detail/"><img src="/static/{{ i.gpic }}"></a>
					<h4><a href="/goods/detail/">{{ i.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ i.gprice }}</span>
						<span class="unit">{{ i.gprice }}/{{ i.gunit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
            {% if goods.has_previous %}
                <a href="/goods/list{{ t.id }}{{ goods.number|add:-1 }}">&lt上一页</a>
            {% endif %}
                {% for pindex in goods.paginator.page_range %}
                    {% if goods.number == pindex %}
                        <a class="active">{{ pindex }}</a>
                    {% else %}
        				<a href="/goods/list{{ t.id }}{{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
            {% if goods.has_next %}
                <a href="/goods/list{{ t.id }}{{ goods.number|add:1 }}">下一页&gt</a>
            {% endif %}
			</div>
		</div>
	</div>

{% endblock body %}