{% extends 'base.html' %}

{% block head %}
    <script>
    $(function () {

        $("table").find(".col04").each(function () {
            var price = $(this).siblings(".col02").children('em:first').text();
            var count = $(this).siblings(".col03").text();
            $(this).text(parseFloat(price*count).toFixed(2)+"元");
        })
    })
    </script>
{% endblock head %}

{% block body %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/center_info/">· 个人信息</a></li>
				<li><a href="/user/center_order/" class="active">· 全部订单</a></li>
				<li><a href="/user/center_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
            {% for order in page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.order_time }}</li>
					<li class="col02">订单号：{{ order.orderid }}</li>
					<li class="col02 stress">未支付</li>		
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for i in order.orderdetail_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ i.goods.gpic }}"></li>
                                    <li class="col02">{{ i.goods.gtitle|truncatechars:16 }}<em>{{ i.price }}</em><em>/{{ i.goods.gunit }}</em></li>
									<li class="col03">{{ i.count }}</li>
									<li class="col04" >0元</li>
								</ul>
                                {% endfor %}
							</td>
							<td width="15%">{{ order.total }}</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
				{% endfor %}

				<div class="pagenation">
                    {% for pindex in plist %}
					<a href="#" class="active">{{ pindex }}</a>
                    {% endfor %}
				</div>
		</div>
	</div>
{% endblock body %}